<!-- Navbar-->
<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <div class="container-fluid justify-content-between">
    <!-- Left elements -->
    <div class="d-flex">
      <!-- Brand -->
      <a class="navbar-brand me-2 mb-1 d-flex align-items-center" href="#">
        <img src="..\..\assets\images\chairlinks\logoGoldCrop.webp" height="40" alt="ChairLinks Logo" loading="lazy"
          style="margin-top: 2px;" />
      </a>
      
      <ul class="navbar-nav me-auto mb-2 mb-lg-0" *ngFor="let links of navLinks">
        <li class="nav-item">
          <a class="nav-link header" aria-current="page" href="#"><p>{{links.title | uppercase}}</p></a>
        </li>
        <li class="nav-item"><a class="pipe-divider"><p>{{links.divider}}</p></a></li>
      </ul>
    </div>
    <!-- Left elements -->

    <!-- Right elements -->
    <div class="d-flex media">
    <ul class="navbar-nav d-flex flex-row">
      <!-- Icons -->
      <li class="nav-item me-3 me-lg-0">
        <a class="nav-link media" href="#">
          <i class="fab fa-twitter"></i>
        </a>
      </li>
      <li class="nav-item me-3 me-lg-0">
        <a class="nav-link media" href="#">
          <i class="fab fa-facebook"></i>
        </a>
      </li>
      <li class="nav-item me-3 me-lg-0">
        <a class="nav-link media" href="#">
          <i class="fab fa-linkedin"></i>
        </a>
      </li>
    </ul>
    </div>
    <!-- Right elements -->
  </div>
</nav>
<!-- Navbar -->