/* Navigation Bar Background */
.bg-dark {
    background-color: #181818 !important;
}

ul {
    padding-left: 29px;
}

.navbar-nav .nav-link.header p {
    display: inline-block;
    position: relative;
    color: white;
    text-decoration: none;
    padding-top: 5px;
    line-height: 28px;
    margin-right: 7px;
    font-weight: lighter;
    /* font-style: italic; */
}

/* Pipe Dividers */
a.pipe-divider {
    display: inline-block;
    color: #d7d7d7;
    padding-top: 12px;
    line-height: 28px;
    margin-right: 15px;
    margin-left: 9px;
}

/* Content Insert Pipe Sections */
/* .navbar-nav .nav-link.header p::after {
    content: '|';
    padding-left: 25px;
} */

.navbar-nav .nav-link.header p::before {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -2px;
    left: 0;
    color: white;
    background-color: #dcc00f;
    transform-origin: bottom right;
    transition: transform 0.2s ease;
}

.navbar-nav .nav-link.header p:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.navbar-nav .nav-link.header p:hover {
    font-weight: 600;
    /* font-style:normal; */
}


/* MEDIA ICONS */
.d-flex.media {
    margin-top: -8px;
    font-size: 23px;
}

.navbar-nav .nav-link.media {
    color: #fff;
}

.navbar-nav .nav-link.media:hover {
    color: #dcc00f;
}