.responsive {
    width: 175px;
    max-width: 175px;
    height: auto; 
    /* margin-top: 2px;   */
}
mat-toolbar {
    height: 100px;
    
}
/* .nav {
    padding-left: 350px;
} */
span {
    flex: 1 1 auto;
    text-align: center;
    margin: 0 auto;
}