<!-- <mat-toolbar>
    <div class="container">
        <div class="row">
            <div class="nav">
            <div class="col-sm-6 col-md-6 col-lg-6">
                <span><img src='./assets/logo_centered.png' class="responsive"></span>
                <span>About Us</span>
            </div>
        </div>
        </div>
    </div>
</mat-toolbar> -->



<mat-toolbar>
    <div class="nav">
    <span><img src='./assets/logo_centered.png' class="responsive">{{about | uppercase}}</span>    
    </div>
</mat-toolbar>


 <!-- <mat-toolbar>
     <span><img src='./assets/logo_centered.png' class="responsive"></span>
        <span>About Us</span>   
 </mat-toolbar> -->
  


