.responsive {
    width: 175px;
    max-width: 175px;
    height: auto; 
    /* margin-top: 2px;   */
}
.navbar {
    height: 100px;
    /* position: relative; */
    background-color: rgb(245,245,245);
}
.nav-item a, .nav-item .active{
    /* color: #e3f2fd; */
    color: rgb(90, 102, 114);
}
.social-icons li {
    list-style: none;
    /* display: inline; */
}

@media only screen and (max-width: 500px) {
    .responsive {
        margin-top: -52px;
    }
    /* .nav-item a, .nav-item .active{
        color:black;
    } */
}

/* .example-spacer {
    flex: 1 1 auto;
} */

/* mat-toolbar {
    height: 100px;    
} */

/* .nav {
    padding-left: 350px;
} */

/* span {
    flex: 1 1 auto;
    text-align: center;
    margin: 0 auto;
} */

/* .nav span {
    flex: 1 1 auto;
    text-align: center;
    margin: 0 auto;
    display: inline-block;
} */