.responsive {
  /* width: 175px;
  max-width: 175px; */
  width: 100px;
  max-width: 100px;
  height: auto; 
  /* margin-top: 2px;   */
}

@media only screen and (max-width: 500px) {
  .responsive {
      margin-top: -52px;
  }
  /* .nav-item a, .nav-item .active{
      color:black;
  } */
}

.example-spacer {
  flex: 1 1 auto;
}

#social {
  /* text-align: right !important;  */
  display: inline;
}